:root {
  --main-text-color: #2eb872;
}
body {
  color: var(--main-text-color);
}

.navbar-brand {
  color: #d3f6d1;
}
.nav-link {
  color: #d3f6d1;
}

.hero {
  background-color: #d3f6d1;
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  color: var(--main-text-color);

  font-family: "Permanent Marker", serif;
  font-size: 60px;
}
.hero h2 {
  font-family: "Playfair Display", serif;
  color: var(--main-text-color);
  font-size: 24px;
}
.hero h3 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: bold;
}
.btn-branding {
  background: #2eb872;
  color: #d3f6d1;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}
